# Implementieren einer lokalen Suchmaschine

## Einführung
Im 2. Assignment werden wir einen lokalen Such-Algorithmus entwickeln, der die Informationen über die Volleyballspielerinnen des österreichischen Nationalteams effizient durchsuchen kann. Dazu werden wir zunächst die Daten des Kaders, die im 1. Assignment gesammelt wurden, verwenden.

### 1. Installation und Importieren der benötigten Libraries

In [ ]:
!pip install -r requirements.txt

In [2]:
import pandas as pd
from collections import defaultdict
import re
import nltk
from nltk.tokenize import word_tokenize
nltk.download('punkt_tab')
nltk.download('punkt')

[nltk_data] Downloading package punkt_tab to
[nltk_data]     /Users/annina/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!
[nltk_data] Downloading package punkt to /Users/annina/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

### 2. Importieren der bereinigten Spielerinnendaten als CSV

Die CSV-Daten sind bereits bereinigt. In 3.2 werden die Daten nochmals bereinigt, indem strings auf lowercase() gebracht und Sonderzeichen entfernt werden.

In [3]:
spielerinnen_csv = pd.read_csv('./Spielerinnendaten.csv')
spielerinnen_csv

    Dressnummer                     Name      Position Nationalitaet Groesse
0             1  Nicole Leonie HOLZINGER      Aufspiel           AUT  175 cm
1             2              Carmen RAAB      Diagonal           AUT  179 cm
2             3             Tamina HUBER        Libero           AUT  173 cm
3            10            Julia TRUNNER      Diagonal           AUT  185 cm
4            11        Monika CHRTIANSKA  Außenangriff           AUT  183 cm
5            13         Lina HINTEREGGER  Außenangriff           AUT  180 cm
6            14     Kora Marina SCHABERL  Außenangriff           AUT  183 cm
7            15          Anna OBERHAUSER        Libero           AUT  166 cm
8            17              Dana SCHMIT      Aufspiel           AUT  175 cm
9            18           Nina NESIMOVIC   Mittelblock           AUT  188 cm
10           19        Eva STABENTHEINER        Libero           AUT  171 cm
11           21             Verena JANKA   Mittelblock           AUT  174 cm
12           22            Jana GAERTNER   Mittelblock           AUT  185 cm
13           27               Lelia FITZ   Mittelblock           AUT  186 cm
14           28           Ursula EHRHART      Diagonal           AUT  185 cm

### 3. Implementierung des Inverted Index
#### 3.1 Inhalt des CSVs in Token splitten

In [4]:
# Es werden alle Zeilen und Spalten durchlaufen, um die Inhalte in Token aufzuteilen
for index, row in spielerinnen_csv.iterrows():
    for col in spielerinnen_csv.columns:
        cell_value = str(row[col])  # Konvertierung des Zelleninhalt in einen String, falls er kein Text ist
        tokens = word_tokenize(cell_value)
        print(f"Zeile {index}, Spalte {col}: {tokens}")

# Letzer Token außerhalb der Schleife wird hier zusätzlich ausgegeben
display(tokens)

Zeile 0, Spalte Dressnummer: ['1']
Zeile 0, Spalte Name: ['Nicole', 'Leonie', 'HOLZINGER']
Zeile 0, Spalte Position: ['Aufspiel']
Zeile 0, Spalte Nationalitaet: ['AUT']
Zeile 0, Spalte Groesse: ['175', 'cm']
Zeile 1, Spalte Dressnummer: ['2']
Zeile 1, Spalte Name: ['Carmen', 'RAAB']
Zeile 1, Spalte Position: ['Diagonal']
Zeile 1, Spalte Nationalitaet: ['AUT']
Zeile 1, Spalte Groesse: ['179', 'cm']
Zeile 2, Spalte Dressnummer: ['3']
Zeile 2, Spalte Name: ['Tamina', 'HUBER']
Zeile 2, Spalte Position: ['Libero']
Zeile 2, Spalte Nationalitaet: ['AUT']
Zeile 2, Spalte Groesse: ['173', 'cm']
Zeile 3, Spalte Dressnummer: ['10']
Zeile 3, Spalte Name: ['Julia', 'TRUNNER']
Zeile 3, Spalte Position: ['Diagonal']
Zeile 3, Spalte Nationalitaet: ['AUT']
Zeile 3, Spalte Groesse: ['185', 'cm']
Zeile 4, Spalte Dressnummer: ['11']
Zeile 4, Spalte Name: ['Monika', 'CHRTIANSKA']
Zeile 4, Spalte Position: ['Außenangriff']
Zeile 4, Spalte Nationalitaet: ['AUT']
Zeile 4, Spalte Groesse: ['183', 'cm']
Zeile 5, Spalte Dressnummer: ['13']
Zeile 5, Spalte Name: ['Lina', 'HINTEREGGER']
Zeile 5, Spalte Position: ['Außenangriff']
Zeile 5, Spalte Nationalitaet: ['AUT']
Zeile 5, Spalte Groesse: ['180', 'cm']
Zeile 6, Spalte Dressnummer: ['14']
Zeile 6, Spalte Name: ['Kora', 'Marina', 'SCHABERL']
Zeile 6, Spalte Position: ['Außenangriff']
Zeile 6, Spalte Nationalitaet: ['AUT']
Zeile 6, Spalte Groesse: ['183', 'cm']
Zeile 7, Spalte Dressnummer: ['15']
Zeile 7, Spalte Name: ['Anna', 'OBERHAUSER']
Zeile 7, Spalte Position: ['Libero']
Zeile 7, Spalte Nationalitaet: ['AUT']
Zeile 7, Spalte Groesse: ['166', 'cm']
Zeile 8, Spalte Dressnummer: ['17']
Zeile 8, Spalte Name: ['Dana', 'SCHMIT']
Zeile 8, Spalte Position: ['Aufspiel']
Zeile 8, Spalte Nationalitaet: ['AUT']
Zeile 8, Spalte Groesse: ['175', 'cm']
Zeile 9, Spalte Dressnummer: ['18']
Zeile 9, Spalte Name: ['Nina', 'NESIMOVIC']
Zeile 9, Spalte Position: ['Mittelblock']
Zeile 9, Spalte Nationalitaet: ['AUT']
Zeile 9, Spalte Groesse: ['188', 'cm']
Zeile 10, Spalte Dressnummer: ['19']
Zeile 10, Spalte Name: ['Eva', 'STABENTHEINER']
Zeile 10, Spalte Position: ['Libero']
Zeile 10, Spalte Nationalitaet: ['AUT']
Zeile 10, Spalte Groesse: ['171', 'cm']
Zeile 11, Spalte Dressnummer: ['21']
Zeile 11, Spalte Name: ['Verena', 'JANKA']
Zeile 11, Spalte Position: ['Mittelblock']
Zeile 11, Spalte Nationalitaet: ['AUT']
Zeile 11, Spalte Groesse: ['174', 'cm']
Zeile 12, Spalte Dressnummer: ['22']
Zeile 12, Spalte Name: ['Jana', 'GAERTNER']
Zeile 12, Spalte Position: ['Mittelblock']
Zeile 12, Spalte Nationalitaet: ['AUT']
Zeile 12, Spalte Groesse: ['185', 'cm']
Zeile 13, Spalte Dressnummer: ['27']
Zeile 13, Spalte Name: ['Lelia', 'FITZ']
Zeile 13, Spalte Position: ['Mittelblock']
Zeile 13, Spalte Nationalitaet: ['AUT']
Zeile 13, Spalte Groesse: ['186', 'cm']
Zeile 14, Spalte Dressnummer: ['28']
Zeile 14, Spalte Name: ['Ursula', 'EHRHART']
Zeile 14, Spalte Position: ['Diagonal']
Zeile 14, Spalte Nationalitaet: ['AUT']
Zeile 14, Spalte Groesse: ['185', 'cm']

['185', 'cm']

#### 3.2 Erstellen des Inverted Index
Jeder Token wird den entsprechenden Dokumenten zugeordnet, in denen es vorkommt, um eine strukturierte Darstellung der Daten zu erstellen.
In diesem Kontext bezieht sich "Dokumente" nicht auf physische Dokumente wie Papierseiten oder Dateien im herkömmlichen Sinne, sondern auf einzelne Textabschnitte oder Textblöcke, die durchsucht und indexiert werden. Dies könnten zum Beispiel Absätze, Sätze, Artikel, Tweets oder andere Textfragmente sein.

In [5]:
def clean_text(text):
    # Entfernt Sonderzeichen und macht alles in lowercase
    text = re.sub(r'\W+', ' ', text)
    return text.lower()

# Funktionsdefinition eines Inverted Index:
# In der Funktion build_inverted_index() wird jedem Text ein doc_id zugewiesen, das die Position des Textes in der Liste darstellt.
def build_inverted_index(docs):
    inverted_index = defaultdict(list)
    for doc_id, doc_fields in enumerate(docs):
        # Kombiniere alle Felder der Zeile zu einem einzigen String
        combined_fields = " ".join([str(field) for field in doc_fields])  # Konvertiere jedes Feld in einen String
        tokens = word_tokenize(clean_text(combined_fields))
        for token in tokens:
            if doc_id not in inverted_index[token]:
                inverted_index[str(token)].append(doc_id)  # Stelle sicher, dass der Token als String gespeichert wird
    return inverted_index


documents = spielerinnen_csv[['Dressnummer', 'Name', 'Position', 'Nationalitaet', 'Groesse']].values.tolist()

# Invertierten Index für alle Felder in Spielerinnen_CSV erstellen
index = build_inverted_index(documents)
display(index)

defaultdict(list,
            {'1': [0],
             'nicole': [0],
             'leonie': [0],
             'holzinger': [0],
             'aufspiel': [0, 8],
             'aut': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14],
             '175': [0, 8],
             'cm': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14],
             '2': [1],
             'carmen': [1],
             'raab': [1],
             'diagonal': [1, 3, 14],
             '179': [1],
             '3': [2],
             'tamina': [2],
             'huber': [2],
             'libero': [2, 7, 10],
             '173': [2],
             '10': [3],
             'julia': [3],
             'trunner': [3],
             '185': [3, 12, 14],
             '11': [4],
             'monika': [4],
             'chrtianska': [4],
             'außenangriff': [4, 5, 6],
             '183': [4, 6],
             '13': [5],
             'lina': [5],
             'hinteregger': [5],
             '180': [5],
             '14': [6],
             'kora': [6],
             'marina': [6],
             'schaberl': [6],
             '15': [7],
             'anna': [7],
             'oberhauser': [7],
             '166': [7],
             '17': [8],
             'dana': [8],
             'schmit': [8],
             '18': [9],
             'nina': [9],
             'nesimovic': [9],
             'mittelblock': [9, 11, 12, 13],
             '188': [9],
             '19': [10],
             'eva': [10],
             'stabentheiner': [10],
             '171': [10],
             '21': [11],
             'verena': [11],
             'janka': [11],
             '174': [11],
             '22': [12],
             'jana': [12],
             'gaertner': [12],
             '27': [13],
             'lelia': [13],
             'fitz': [13],
             '186': [13],
             '28': [14],
             'ursula': [14],
             'ehrhart': [14]})

### 4. Erstellen des TD-IDF Scorings

### 5. Implementierung der lokalen Suchmaschine

# Ressourcen & Source-Docs

## Inverted Index
1. [Implementieren eines Inverted Index](https://www.pingcap.com/article/step-by-step-guide-building-inverted-index-python/)
2. [LinkName](https://www.google.com/)
3. [LinkName](https://www.google.com/)
4. [LinkName](https://www.google.com/)
5. [LinkName](https://www.google.com/)

## Title
1. [LinkName](https://www.google.com/)
2. [LinkName](https://www.google.com/)

## Title
1. [LinkName](https://www.google.com/)
2. [LinkName](https://www.google.com/)

# Challenges bei der Implementierung


#### Cesar Laura
-
-


#### Dilly Julian
-
-

#### Ecker Annina, Implementierung von Selenium:
- 
-